{
  "presets": [
    [
      "@babel/preset-env",
      { "targets": 
        { 
          "browsers": "last 2 versions"
        }
      },
    ],
    "@babel/preset-flow",
    "@babel/preset-react",
  ],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-proposal-export-default-from",
    "@babel/plugin-proposal-optional-chaining",
    "@babel/plugin-proposal-unicode-property-regex",
    "@babel/plugin-transform-runtime",
    "react-hot-loader/babel",
  ]
}
